<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- <icon src="http://cdn2.hubspot.net/hub/358230/file-472066600-png/Img/icons/news.png?width=128" /> -->

    <name>Новости Улан-Удэ</name>

    <description>
        Первое Новостное Приложение Бурятии. 
    </description>
    
    

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Kalinin Konstantin 
    </author>

</widget>
